# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: CI with Maven

on: [push, pull_request]

jobs:
  properties:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # azure only supports java 8, 11 and 17.
        java: [ 17 ]

    name: Java ${{ matrix.java }} build with tests

    steps:
      - uses: actions/checkout@v6
      - name: Compile with java version ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - run: mvn compile

      - uses: actions/checkout@v6
      - name: Unit tests with java version ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - run: mvn test

      - uses: actions/checkout@v6
      - name: Integration tests with java version ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - run: mvn test-compile failsafe:integration-test failsafe:verify